<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Logistics</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../font/typicons.css">
    <link rel="stylesheet" href="../css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="icon" href="../img/favi.jpg">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  </head>
  <body>
    <div class="container-scroller">
   
        <%- include ('../partials/adminNav'); -%>
    
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <%- include('../partials/adminSidebar'); -%>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

              
                <%- include (`../partials/messages`); -%>

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                         <div class="card-body">
                           <h4 class="card-title">Admin Form</h4>
                           <p class="card-description">
                             Add New Admin
                           </p>
                           <form class="forms-sample" action="/admin/addAdminPost" method="post" enctype="multipart/form-data">

                             <div class="form-group">
                               <label for="exampleInputName1">Name</label>
                               <input type="text" class="form-control" id="exampleInputName1" name="adminFullName"
                               value="<%= typeof adminFullName != 'undefined' ? adminFullName : '' %>"/>
                             </div>

                             <div class="form-group">
                               <label for="exampleInputEmail3">Username</label>
                               <input type="text" class="form-control" id="exampleInputEmail3" name="adminUsername" 
                               value="<%= typeof adminUsername != 'undefined' ? adminUsername : '' %>"/>
                             </div>

                             <div class="form-group">
                                <label for="exampleInputEmail3">Password</label>
                                <input type="password" class="form-control" id="exampleInputEmail3" name="adminPassword" 
                                value="<%= typeof adminPassword != 'undefined' ? adminPassword : '' %>"/>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputEmail3">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputEmail3" name="adminPassword2" 
                                value="<%= typeof adminPassword2 != 'undefined' ? adminPassword2 : '' %>"/>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail" name="adminEmail"
                                value="<%= typeof adminEmail != 'undefined' ? adminEmail : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Phone Number</label>
                                <input type="text" class="form-control" name="adminNumber"
                                value="<%= typeof adminNumber != 'undefined' ? adminNumber : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Address</label>
                                <input type="text" class="form-control"  name="adminAddress"
                                value="<%= typeof adminAddress != 'undefined' ? adminAddress : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">City</label>
                                <input type="text" class="form-control" name="adminCity"
                                value="<%= typeof adminCity != 'undefined' ? adminCity : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">State</label>
                                <input type="text" class="form-control" name="adminState"
                                value="<%= typeof adminState != 'undefined' ? adminState : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Role</label>
                                <% let selectRole=["Admin" , "Editor"] %>
                                <select class="form-control form-control-lg" name="adminRole"
                                       value="<%= typeof adminRole != 'undefined' ? adminRole : '' %>">
                                     <option value="">Select Role</option>
                                    <% selectRole.forEach((so)=> { %>
                                        <option value="<%- so %>"><%- so %></option>
                                    <% }) %>
                                </select>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">DOB</label>
                                <input type="date" class="form-control" name="adminDob"
                                value="<%= typeof adminDob != 'undefined' ? adminDob : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Emergency Name</label>
                                <input type="text" class="form-control" name="adminEmergencyName"
                                value="<%= typeof adminEmergencyName != 'undefined' ? adminEmergencyName : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Emergency Number</label>
                                <input type="text" class="form-control" name="adminEmergencyNumber"
                                value="<%= typeof adminEmergencyNumber != 'undefined' ? adminEmergencyNumber : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Employment Date</label>
                                <input type="date" class="form-control" name="adminEmployDate"
                                value="<%= typeof adminEmployDate != 'undefined' ? adminEmployDate : '' %>" />
                              </div>

                              <div class="form-group">
                                <label for="exampleInputCity1">Upload Image</label>
                                <input type="file" class="form-control" id="exampleInputCity1" name="image" />
                              </div>
                            
                             
                             <button type="submit" class="btn btn-primary mr-2">Submit</button>
                             <button class="btn btn-light">Cancel</button>
                           </form>
                         </div>
                    </div>
                </div>

         </div>
         <%- include('../partials/adminFooter'); -%>
           
     
        </div>
   
      </div>
  
    </div>


  </body>
</html>