<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Korex Logistic Company</title>
    <!-- base:css -->
    <link rel="stylesheet" href="../../font/typicons.css">
    <link rel="stylesheet" href="../../vertical-layout-light/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vertical-layout-light/style.css">
    <link rel="stylesheet" href="../../css/vendor.bundle.base.css">

    <!-- endinject -->
    <link rel="icon" href="../img/favi.jpg">
  </head>
  <body>
    <div class="container-scroller">

      
                   <%- include ('../partials/userNavbar'); -%>
            

      <div class="container-fluid page-body-wrapper">
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close typcn typcn-delete-outline"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles primary"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default border"></div>
            </div>
          </div>
        </div>
      
        <%- include ('../partials/userSidebar'); -%>            
        
        <div class="main-panel">
          <div class="content-wrapper">
              
                <%- include (`../partials/messages`); -%>


                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div width="600" align="center" class="devicewidth">
                                <div>
                                    <!-- Start header Section -->
                                  
                                        <div style="padding-top: 30px;">
                                            <div width="560" align="center" class="devicewidthinner headingAddress">
                                                <div>
                                                  
                                                    <div>
                                                        <div class="addressTable">
                                                            452B ICM Mall Road
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div  class="addressTable">
                                                            Maryland, Lagos NG, 23401
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="addressTable space">
                                                            <strong>Phone:</strong>  234-703-4432-762 |<strong> Email:</strong> Korexlogistics.com
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                  
                                    <!-- End header Section -->
                                    
                                    <!-- Start address Section -->
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div width="560" align="center"class="devicewidthinner">
                                                <div>
                                                    <div>
                                                        <div class="heading">
                                                            <%- shippingInfo.senderName %> Shipping Information
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End address Section -->
                                    
                                    <!-- Start product Section -->
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">  Sender Name</div>
                                                    <span class="spanword"> <%= shippingInfo.senderName%> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Sender Email</div>
                                                    <span class="spanword">  <%= shippingInfo.senderEmail%> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Sender Number</div>
                                                    <span class="spanword">  <%= shippingInfo.senderNumber %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Membership</div>
                                                    <span class="spanword">  <%= shippingInfo.selectMembership %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Sender Address</div>
                                                    <span class="spanword">  <%= shippingInfo.senderAddress %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Sender City</div>
                                                    <span class="spanword">  <%= shippingInfo.senderCity %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords"> Sender State</div>
                                                    <span class="spanword">  <%= shippingInfo.senderState %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Shipping Method</div>
                                                    <span class="spanword">  <%= shippingInfo.shippingMethod %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient Name</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientName %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient Email</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientEmail %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient Number</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientNumber%>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient Address</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientAddress %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient City</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientCity %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Recipient State</div>
                                                    <span class="spanword">  <%= shippingInfo.recipientState %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Shipping Fees</div>
                                                    <span class="spanword">  <%= shippingInfo.shippingAmount %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Tracking ID</div>
                                                    <span class="spanword">  <%= shippingInfo.trackingID %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Delivery Day</div>
                                                    <span class="spanword">  <%= shippingInfo.deliveryDay %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Delivery Date</div>
                                                    <span class="spanword">  <%= shippingInfo.deliveryDate %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Delivery Month</div>
                                                    <span class="spanword">  <%= shippingInfo.deliveryMonth %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Delivery Time</div>
                                                    <span class="spanword">  <%= shippingInfo.deliveryTime %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Status Message</div>
                                                    <span class="spanword">  <%= shippingInfo.statusMessage %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Payment Reference</div>
                                                    <span class="spanword">  <%= shippingInfo.paymentId.reference %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Payment Status</div>
                                                    <span class="spanword">  <%= shippingInfo.paymentId.status %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="padding-top: 0;">
                                            <div  align="center"class="devicewidthinner">
                                                <div>
                                                    <div class="divwords">Shipment Creation date</div>
                                                    <span class="spanword">  <%= shippingInfo.date_added.toLocaleString() %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End product Section -->
                                
                                </div>
                            </div>
                                          
                       
                       </div>
                    </div>
                </div>
         </div> 
         <%- include('../partials/userFooter'); -%>
         
        </div>
      </div>
    </div> 

  </body>
</html>